<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="sCorInfoDao" class="com.corporation.corInfo.dao.impl.SCorInfoDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"></property>
	</bean>

	<bean id="sCorInfoService"
		class="com.corporation.corInfo.service.impl.SCorInfoServiceImpl">
		<property name="sCorInfoDao" ref="sCorInfoDao"></property>
	</bean>

	<bean id="sCorInfoAction" class="com.corporation.corInfo.action.SCorInfo"
		scope="prototype">
		<property name="sCorInfoService" ref="sCorInfoService"></property>

	</bean>


</beans>